* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

h1 {
	padding: 1%;
}

p {
	padding: 1%;
}

img {
	padding: 1%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}
